!!! 5
//- A note when adding things to this file-
//- 1. Be sure you add the .in_menu to the div around the import.
//- 2. Be sure you add the appropriate menu items under the li.menu_major. Just follow the pattern.

head
  title MILSON - Military Standards Object Notation
  script(src="./pakmanaged.js")
  link(rel="stylesheet", type="text/css", href="style.css")
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  meta(http-equiv="X-UA-Compatible", content="chrome=1")

body
  #header
    .top_wrap
      img#logo(src="images/logo.png", alt="Military Standards Object Notation")

  #container
    table.doc_columns
      tbody
        tr
          td.menu_column
            .menu
              ul
                include links


          td.content_column
            include documents

  #footer
    .top_wrap
      #flogo
        img(src="images/logo.png", alt="Military Standards Object Notation")
        #copyright © 2012
      ul#footie_pajamas
        li
          a(href="http://milson.org/") Home
        li
          | Email: ajoneal@spotterrf.com
